
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label>Image</label>
        <input type="file" class="form-control" name="photo">
    </div>

    <div class="mb-3">
        <label>Title</label>
        <input type="text" class="form-control" name="title">
    </div>

    <div class="mb-3">
        <label>Text</label>
        <input type="text" class="form-control" name="text">
    </div>

    <div class="mb-3">
        <label>Date</label>
        <input type="text" class="form-control" name="date">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>