@model Student

<div asp-validation-summary="All" style="color:red"></div>

<form method="post">
    <div class="mb-3">
        <label>Address</label>
        <input type="text" class="form-control" asp-for="Addresses.Name">
        <span asp-validation-for="Addresses.Name" style="color:red"></span>

    </div>

    <div class="mb-3">
        <label>Fullname</label>
        <input type="text" class="form-control" asp-for="Fullname">
        <span asp-validation-for="Fullname" style="color:red"></span>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


