@model IList<Student>


<h1>Index</h1>
<div>
    <a href="/Student/Create" style="width:100%" class="btn btn-success">Add new slider</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Address</th>
            <th>Fullname</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">@item.ID</th>
            <th scope="row">@item.Addresses.Name</th>
            <td>@item.Fullname</td>
            <td>
                <a href="/Edit/@item.ID" style="color:red"><i class="fas fa-edit"></i></a>
                <a href="/Delete/@item.ID" onclick="return confirm('Silmek istediyinizden eminsiz?')" style="color:red">
                    <i class="fas fa-trash-alt"></i>
                </a>
                <a href="/Details/@item.ID" style="color:red">Etrafli</a>
            </td>
        </tr>

        }
    </tbody>
</table>
