@model IList<Student>

<div>
    <a href="/Student/Create" style="width:100%" class="btn btn-success">Add</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Address</th>
            <th>Fullname</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">@item.ID</th>
            <th scope="row">@item.Addresses.Name</th>
            <td>@item.Fullname</td>
            <td>
                <a href="/Student/Edit/@item.ID" style="color:green"><i class="fas fa-edit"></i></a>
                <a href="/Student/Delete/@item.ID" onclick="return confirm('Silmek istediyinizden eminsiz?')" style="color:red">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
