@model Counter

@{
    ViewData["Title"] = "Create";
}

<form method="post" enctype="multipart/form-data">
    @*<div asp-validation-summary="All"></div>*@

    <div class="mb-3">
        <label class="form-label">Odometer</label>
        <input class="form-control" type="text" asp-for="Odometer" />
        <span asp-validation-for="Odometer"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Title</label>
        <input class="form-control" type="text" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Text</label>
        <input class="form-control" type="text" asp-for="Text" />
        <span asp-validation-for="Text"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Icon</label>
        <input class="form-control" type="text" asp-for="Icon" />
        <span asp-validation-for="Icon"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
