@model ServicesBox

@{
    ViewData["Title"] = "Edit";
}


<form method="post" enctype="multipart/form-data">
    @*<div asp-validation-summary="All"></div>*@

    <div class="mb-3">
        <label class="form-label">Title 1</label>
        <input class="form-control" type="text" asp-for="Title1" />
        <span asp-validation-for="Title1"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Text 1</label>
        <input class="form-control" type="text" asp-for="Text1" />
        <span asp-validation-for="Text1"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Title 2</label>
        <input class="form-control" type="text" asp-for="Title2" />
        <span asp-validation-for="Title2"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Text 2</label>
        <input class="form-control" type="text" asp-for="Text2" />
        <span asp-validation-for="Text2"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Icon</label>
        <input class="form-control" type="text" asp-for="Icon" />
        <span asp-validation-for="Icon"></span>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>

