@model Social
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<table class="table">
    <thead>
        <tr>
            <th>Twitter</th>
            <th>Facebook</th>
            <th>Instagram</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Twitter</td>
            <td>@Model.Facebook</td>
            <td>@Model.Instagram</td>
        </tr>
    </tbody>
</table>

