

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label>Image</label>
        <input type="file" class="form-control" name="photo">
    </div>

    <div class="mb-3">
        <label>Price</label>
        <input type="number" class="form-control" name="price">
    </div>

    <div class="mb-3">
        <label>TrendWWord</label>
        <input type="text" class="form-control" name="trend">
    </div>

    <div class="mb-3">
        <label>Discount</label>
        <input type="text" class="form-control" name="discount">
    </div>

    <div class="mb-3">
        <label>Cloth type</label>
        <input type="text" class="form-control" name="cloth">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>