
<form method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label>Education Title</label>
        <input type="text" class="form-control" name="edtitle">
    </div>

    <div class="mb-3">
        <label>Education Detail</label>
        <input type="text" class="form-control" name="eddetail">
    </div>

    <div class="mb-3">
        <label>Education Description</label>
        <input type="text" class="form-control" name="eddescription">
    </div>



    <div class="mb-3">
        <label>Exprience Title</label>
        <input type="text" class="form-control" name="extitle">
    </div>

    <div class="mb-3">
        <label>Exprience Detail</label>
        <input type="text" class="form-control" name="exdetail">
    </div>

    <div class="mb-3">
        <label>Exprience Description</label>
        <input type="text" class="form-control" name="exdescription">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>