@using EntityLayer.Concrete
@model List<Notification>


@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Bildirim</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Id</th>
            <td>@item.Details</td>

        </tr>
    }
</table>
