@model IList<Product>

    <div>
        <a href="/Customer/Create" style="width:100%" class="btn btn-success">Add</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>CustomerName</th>
                <th>ProductName</th>
                <th>CRUD</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.ID</th>
                    <th scope="row">@item.Customers.CustomerName</th>
                    <td>@item.ProductName</td>
                    <td>
                        <a href="/Customer/Edit/@item.ID" style="color:green"><i class="fas fa-edit"></i></a>
                        <a href="/Customer/Delete/@item.ID" onclick="return confirm('Are you delete?')" style="color:red"><i class="fas fa-trash-alt"></i></a>
                        <a href="/Customer/Details/@item.ID" style="color:steelblue">About</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
