@model IList<TeacherToHobby>

<div>
    <a href="/Hobby/Create" style="width:100%" class="btn btn-success">Add</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Teacher</th>
            <th>Hobby</th>
            <th>CRUD</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">@item.TeacherTable.TeacherName</th>
            <th scope="row">@item.HobbyTable.HobbyName</th>
            <td>
                <a href="/Hobby/Edit/@item.TeacherID" style="color:green"><i class="fas fa-edit"></i></a>
                <a href="/Hobby/Delete/@item.TeacherID" onclick="return confirm('Are you delete?')" style="color:red"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>