@model List<Teacher>

<div>
    <a href="/Hobby/Create" style="width:100%" class="btn btn-success">Add</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Teacher</th>
            <th class="text-center whitespace-no-wrap">Hobby</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.TeacherID</td>
            <td>@item.TeacherName</td>
            @foreach (var item2 in item.collectionTable.ToList())
            {
           
                <td>@item2.HobbyTable.HobbyName</td>
}
            @*<td>
            <a href="/Hobby/Edit/@item.TeacherID" style="color:green"><i class="fas fa-edit"></i></a>
            <a href="/Hobby/Delete/@item.TeacherID" onclick="return confirm('Are you delete?')" style="color:red"><i class="fas fa-trash-alt"></i></a>
        </td>*@
        </tr>
        }
    </tbody>
</table>