@model ProjectBox

@{
    ViewData["Title"] = "Edit";
}

<form method="post" enctype="multipart/form-data">
    @*<div asp-validation-summary="All"></div>*@

    <div class="mb-3">
        <label class="form-label">TopTitle</label>
        <input class="form-control" type="text" asp-for="TopTitle" />
        <span asp-validation-for="TopTitle"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">BoxTitle</label>
        <input class="form-control" type="text" asp-for="BoxTitle" />
        <span asp-validation-for="BoxTitle"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Name1</label>
        <input class="form-control" type="text" asp-for="Name1" />
        <span asp-validation-for="Name1"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Name2</label>
        <input class="form-control" type="text" asp-for="Name2" />
        <span asp-validation-for="Name2"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Link</label>
        <input class="form-control" type="text" asp-for="Link" />
        <span asp-validation-for="Link"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Photo</label>
        <input class="form-control" type="file" asp-for="Photo">
        <span asp-validation-for="Photo"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Current photo</label>
        <input class="form-control" type="hidden" name="Image" value="@Model.Image" />
        <img src="~/assets/images/project/@Model.Image" width="200" />
    </div>

    <input type="submit" class="btn btn-danger btn-block" value="update" />
</form>
