<script src="~/lib/jquery/dist/jquery.min.js"></script>


<h2>Add Student</h2>
<div class="form-group" style="display:none">
    <input id="txtStudentID" class="form-control" name="ID" />
</div>
<div class="form-group">
    <label for="Fullname">Fullname:</label>
    <input id="txtStudentName" class="form-control" name="Fullname" />
</div>
<div class="form-group">
    <label for="Email">Email:</label>
    <input id="txtStudentEmail" class="form-control" name="Email" />
</div>
<div class="text-center panel-body">
    <button id="btnSave" class="btn btn-sm btn-primary">Save</button>
</div>

<button onclick="GetAllStudent()" class="btn btn-primary">Load Students</button>

<br />

<table id="tblStudent" class="table table-bordered">  
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Fullname</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
</table>


<script type="text/javascript">



    $(document).ready(function () {

    });


    function GetAllStudent() {
        $.getJSON("/Student/GetAllStudent", function (students) {
            $("#tblStudent tbody tr").remove();
            $.map(students, function (student) {
                $("#tblStudent tbody").append("<tr>"
                    + "<td>" + student.ID + "</td>"
                    + "<td>" + student.Fullname + "</td>"
                    + "<td>" + student.Email + "</td>"
                    + "</tr>");
            });
        });
    }

</script>