<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/inspinia/img/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="~/inspinia/#">
                        <span class="block m-t-xs font-bold">Khayal Salimov</span>
                        <span class="text-muted text-xs block">Developer<b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="~/inspinia/profile.html">Profile</a></li>
                        <li><a class="dropdown-item" href="~/inspinia/contacts.html">Contacts</a></li>
                        <li><a class="dropdown-item" href="~/inspinia/mailbox.html">Mailbox</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="~/inspinia/login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li>
                <a href="~/inspinia/index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="~/inspinia/index.html">Dashboard v.1</a></li>
                    <li><a href="~/inspinia/dashboard_2.html">Dashboard v.2</a></li>
                    <li><a href="~/inspinia/dashboard_3.html">Dashboard v.3</a></li>
                    <li><a href="~/inspinia/dashboard_4_1.html">Dashboard v.4</a></li>
                    <li><a href="~/inspinia/dashboard_5.html">Dashboard v.5 </a></li>
                </ul>
            </li>
            <li>
                <a href="~/inspinia/#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Grafikler</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="~/inspinia/graph_flot.html">Flot Charts</a></li>
                    <li><a href="~/inspinia/graph_morris.html">Morris.js Charts</a></li>
                    <li><a href="~/inspinia/graph_rickshaw.html">Rickshaw Charts</a></li>
                    <li><a href="~/inspinia/graph_chartjs.html">Chart.js</a></li>
                    <li><a href="~/inspinia/graph_chartist.html">Chartist</a></li>
                    <li><a href="~/inspinia/c3.html">c3 charts</a></li>
                    <li><a href="~/inspinia/graph_peity.html">Peity Charts</a></li>
                    <li><a href="~/inspinia/graph_sparkline.html">Sparkline Charts</a></li>
                </ul>
            </li>
            <li>
                <a href="~/inspinia/mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Mesajlar </span><span class="label label-warning float-right">16/24</span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="~/inspinia/mailbox.html">Inbox</a></li>
                    <li><a href="~/inspinia/mail_detail.html">Email view</a></li>
                    <li><a href="~/inspinia/mail_compose.html">Compose email</a></li>
                    <li><a href="~/inspinia/email_template.html">Email templates</a></li>
                </ul>
            </li>
            <li>
                <a href="~/inspinia/metrics.html"><i class="fa fa-pie-chart"></i> <span class="nav-label">Metrikler</span>  </a>
            </li>
            <li>
                <a href="~/inspinia/metrics.html"><i class="fa fa-group"></i> <span class="nav-label">Kateqoriyalar</span>  </a>
            </li>
            <li>
                <a href="~/inspinia/metrics.html"><i class="fa fa-list-alt"></i> <span class="nav-label">Bloglar</span>  </a>
            </li>
            <li>
                <a href="~/inspinia/metrics.html"><i class="fa fa-user"></i> <span class="nav-label">Yazarlar</span>  </a>
            </li>
            <li>
                <a href="~/inspinia/metrics.html"><i class="fa fa-info"></i> <span class="nav-label">Ayarlar</span>  </a>
            </li>
            <li>
                <a href="~/inspinia/metrics.html"><i class="fa fa-diamond"></i> <span class="nav-label">Bildirimler</span>  </a>
            </li>
            <li>
                <a href="~/inspinia/metrics.html"><i class="fa fa-phone"></i> <span class="nav-label">Elaqe</span>  </a>
            </li>
            <li>
                <a href="~/inspinia/metrics.html"><i class="fa fa-book"></i> <span class="nav-label">Haqqimizda</span>  </a>
            </li>
            <li>
                <a href="~/inspinia/widgets.html"><i class="fa fa-flask"></i> <span class="nav-label">Istatistikler</span></a>
            </li>
            <li>
                <a href="~/inspinia/#"><i class="fa fa-edit"></i> <span class="nav-label">Formlar</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="~/inspinia/form_basic.html">Basic form</a></li>
                    <li><a href="~/inspinia/form_advanced.html">Advanced Plugins</a></li>
                    <li><a href="~/inspinia/form_wizard.html">Wizard</a></li>
                    <li><a href="~/inspinia/form_file_upload.html">File Upload</a></li>
                    <li><a href="~/inspinia/form_editors.html">Text Editor</a></li>
                    <li><a href="~/inspinia/form_autocomplete.html">Autocomplete</a></li>
                    <li><a href="~/inspinia/form_markdown.html">Markdown</a></li>
                </ul>
            </li>
            <li>
                <a href="~/inspinia/#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="~/inspinia/search_results.html">Search results</a></li>
                    <li><a href="~/inspinia/lockscreen.html">Lockscreen</a></li>
                    <li><a href="~/inspinia/invoice.html">Invoice</a></li>
                    <li><a href="~/inspinia/login.html">Login</a></li>
                    <li><a href="~/inspinia/login_two_columns.html">Login v.2</a></li>
                    <li><a href="~/inspinia/forgot_password.html">Forget password</a></li>
                    <li><a href="~/inspinia/register.html">Register</a></li>
                    <li><a href="~/inspinia/404.html">404 Page</a></li>
                    <li><a href="~/inspinia/500.html">500 Page</a></li>
                    <li><a href="~/inspinia/empty_page.html">Empty page</a></li>
                </ul>
            </li>

            <li class="active">
                <a href="~/inspinia/#"><i class="fa fa-table"></i> <span class="nav-label">Tablolar</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="active"><a href="~/inspinia/table_basic.html">Static Tables</a></li>
                    <li><a href="~/inspinia/table_data_tables.html">Data Tables</a></li>
                    <li><a href="~/inspinia/table_foo_table.html">Foo Tables</a></li>
                    <li><a href="~/inspinia/jq_grid.html">jqGrid</a></li>
                </ul>
            </li>
            <li>
                <a href="~/inspinia/#"><i class="fa fa-picture-o"></i> <span class="nav-label">Galeri</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="~/inspinia/basic_gallery.html">Lightbox Gallery</a></li>
                    <li><a href="~/inspinia/slick_carousel.html">Slick Carousel</a></li>
                    <li><a href="~/inspinia/carousel.html">Bootstrap Carousel</a></li>

                </ul>
            </li>

        </ul>

    </div>
</nav>
