
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>BlogListExcel</h1>

<br />

<a href="/Admin/Blog/ExportStaticExcelBlogList/" class="btn btn-primary">Excel listini yukle</a>

@*<button class="btn btn-primary" onclick="DwonloadExcelBlogList">Excel listini yukle</button>
<script>
    function DwonloadExcelBlogList() {
        window.open("/Admin/Blog/ExportStaticExcelBlogList/")
    }
</script>*@