@model IEnumerable<EntityLayer.Concrete.Blog>


@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<!DOCTYPE html>
<html lang="zxx">

<body>


    <!--//banner-->
    <section class="banner-bottom">
        <!--/blog-->
        <div class="container">
            <div class="row">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    @foreach (var item in Model)
                    {
                        <div class="blog-grid-top">
                            <div class="b-grid-top">
                                <div class="blog_info_left_grid">
                                    <a href="~/web/single.html">
                                        <img src="~/web/images/b1.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="blog-info-middle">
                                    <ul>
                                        <li>
                                            <a href="~/web/#">
                                                <i class="far fa-calendar-alt"></i>@(((DateTime)item.CreateDate).ToString("dd-MMM-yyyy"))
                                            </a>
                                        </li>
                                        <li class="mx-2">
                                            <a href="~/web/#">
                                                <i class="far fa-thumbs-up"></i> 201 Likes
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/web/#">
                                                <i class="far fa-comment"></i> o Comments
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <h3>
                                <a href="~/web/single.html">@item.Title</a>
                            </h3>
                            <p>
                                @item.Content
                            </p>
                            <a href="~/web/single.html" class="btn btn-primary read-m">Read More</a>
                        </div>

                    }


                    @await Component.InvokeAsync("CommentListByBlog", new { id = ViewBag.i })

                    @*@await Html.PartialAsync("~/Views/Comment/CommentListByBlog.cshtml")*@

                    @await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml")

                </div>

                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        <div class="tech-btm">
                            <img src="~/web/images/banner1.jpg" class="img-fluid" alt="">
                        </div>
                        @await Html.PartialAsync("~/Views/NewsLetter/SubsCribeMail.cshtml")
                      
                        @await Component.InvokeAsync("CategoryList")

                        @await Component.InvokeAsync("WriterLastBlog")
                        <div class="single-gd tech-btm">
                            <h4>End Post</h4>
                            <div class="blog-grids">
                                <div class="blog-grid-left">
                                    <a href="~/web/single.html">
                                        <img src="~/web/images/b1.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="blog-grid-right">

                                    <h5>
                                        <a href="~/web/single.html">Pellentesque dui, non felis. Maecenas male</a>
                                    </h5>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>

                </aside>
                <!--//right-->
            </div>
        </div>
    </section>
    <!--//main-->

    <!---->
    <!-- js -->
    <script src="~/web/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!--/ start-smoth-scrolling -->
    <script src="~/web/js/move-top.js"></script>
    <script src="~/web/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!--// end-smoth-scrolling -->

    <script>
        $(document).ready(function () {
            /*
                                    var defaults = {
                                            containerID: 'toTop', // fading element id
                                        containerHoverID: 'toTopHover', // fading element hover id
                                        scrollSpeed: 1200,
                                        easingType: 'linear'
                                        };
                                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <a href="~/web/#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>

    <!-- //Custom-JavaScript-File-Links -->
    <script src="~/web/js/bootstrap.js"></script>


</body>

</html>

