@model Portfolio

@{
    ViewData["Title"] = "Create";
}

@section styles{

    <style>
        label {
            color: green;
        }
    </style>
}


<div asp-validation-summary="All" style="color:red"></div>

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label>Image</label>
        <input type="file" class="form-control" asp-for="Photo">
        <span asp-validation-for="Photo"></span>
    </div>


    <div class="mb-3">
        <label>Name</label>
        <textarea class="form-control" asp-for="Name"></textarea>
        <span asp-validation-for="Name" style="color:red"></span>

    </div>

    <div class="mb-3">
        <label>Link</label>
        <textarea class="form-control" asp-for="Link"></textarea>
        <span asp-validation-for="Link" style="color:red"></span>

    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>



@section scripts{
    <partial name="_ValidationScriptsPartial" />

}